<ion-view title="爱肝一生（会员版）">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">登录</div>
            <div class="item item-body">
                <form>
                    <label class="item item-input" name="usr">
                        <span class="input-label">帐号</span>
                        <input type="text" placeholder="username">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">密码</span>
                        <input type="password" placeholder="password">
                    </label>
                </form>
                <div class="button-bar">
                    <button class="button button-stable button-icon button-block ">忘记密码</button>
                    <a href="#/tabs/dash" class="button button-positive button-block ">登录</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>