<ion-view view-title="我的订单">
    <ion-content class="main">
        <div class="list">
		    <a class="item item-avatar" ng-repeat="service in serviceList">
		      <img ng-src="{{img(service.productId)}}">
		      <span class="item-note">{{service.price * service.productCount}}{{ticket}}</span>
		      <h2>{{isIOS ? name(service.productName) : service.productName}}{{isIOS ? '' : ' X ' + service.productCount}}</h2>
		      <p>{{service.buyTime | date : 'yyyy-MM-dd'}} {{service.description}}</p>
		    </a>

		</div>
    </ion-content>
</ion-view>
